<aside class="aside">
  <div class="aside__head">
    <span class="aside__title">
      <span class="aside__icon-burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      Категорії
    </span>
  </div>
  <ul class="aside__list">
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Газові котли опалення</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Електричні котли опалення</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Твердопаливні котли</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Радіатори опалення</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Конвектори</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Водонагрівачі, бойлери</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Буферні ємності</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
    <li class="aside__list-item">
      <a href="#" class="aside__list-link">
        <span>Каміни</span>
        <span class="aside__list-icon">
          <span class="aside__list-arrow"></span>
        </span>
      </a>
    </li>
  </ul>
</aside>
