<aside class="aside">
  <div class="aside__head">
    <span class="aside__title">Категорії</span>
  </div>
  <ul class="aside__list">
    <li class="aside__list-item"><a href="#" class="aside__list-link">Газові котли опалення</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Електричні котли опалення</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Твердопаливні котли</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Радіатори опалення</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Конвектори</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Водонагрівачі, бойлери</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Буферні ємності</a></li>
    <li class="aside__list-item"><a href="#" class="aside__list-link">Каміни</a></li>
  </ul>
</aside>
