<footer class="footer">
  <div class="container-fluid">
    <div class="container footer__inner">
      <div class="row">
        <div class="col footer__logo">
          <a href="#" class="footer__logo-link"></a>
        </div>
        <div class="col-x2 footer__block">
          <div class="footer__contacts with-mobile-icon">
            <a href="tel:+380661980828" class="footer__contacts-item">+38 (066) 198-08-28</a>
            <span style="color: #a03342;">,&nbsp;</span>
            <a href="tel:+380679201030" class="footer__contacts-item">+38 (067) 920-10-30</a>
          </div>
          <div class="footer__contacts with-at-icon">
            <a href="mailto:info@teplostandart.com.ua" class="footer__contacts-item">info@teplostandart.com.ua</a>
          </div>
        </div>
        <div class="col">
          <div class="footer__social-list">
            <a href="#">
              <img class="footer__social-item" src="assets/img/icons/icon-google-plus.png" alt="Google plus" height="42" width="42">
            </a>
            <a href="#">
              <img class="footer__social-item" src="assets/img/icons/icon-facebook.png" alt="Facebook" height="42" width="42">
            </a>
            <a href="#">
              <img class="footer__social-item" src="assets/img/icons/icon-vimeo.png" alt="Vimeo" height="42" width="42">
            </a>
            <a href="#">
              <img class="footer__social-item" src="assets/img/icons/icon-youtube.png" alt="YouTube" height="42" width="42">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container footer__copyright">
      <div class="row">
        <div class="col footer__copyright-item">
          Copyright 2016.MassimoUA inc.
        </div>
      </div>
    </div>
  </div>
  </footer>
