<ul class="navigation">
  <li class="navigation__item"><a href="#" class="navigation__link">Головна</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link">Акції</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link">Доставка</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link">Гарантія</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link">Послуги</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link">Конткти</a></li>
  <li class="navigation__item"><a href="#" class="navigation__link">Бренди</a></li>
</ul>
