<div class="marketplace-aside v2">
  <ul class="marketplace-aside__list">
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Лосьон после бритья</a>
    </li>
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Бальзам после бритья</a>
    </li>
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Пена для бритья</a>
    </li>
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Крем для бритья</a>
    </li>
  </ul>
</div>
