<div class="marketplace-aside v1">
  <ul class="marketplace-aside__list">
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Парапетні</a>
    </li>
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Димохідні</a>
    </li>
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Конденсаційні</a>
    </li>
    <li class="marketplace-aside__list-item">
      <a href="#" class="marketplace-aside__list-link">Двоконтурні</a>
    </li>
  </ul>
</div>
