<section class="section marketplace">
  <div class="row">
    <div class="col">
      <h2 class="marketplace__title">Газові котли опалення</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      include "marketplace_aside_1"
    </div>
    <div class="col">
      <div class="marketplace__item product">
        <img class="product__img" src="assets/img/market-item-1.png" alt="Котел">
        <h5 class="product__price">6 390 грн</h5>
        <p class="product__description">Парапетний газовий котел</p>
        <p class="product__description">Атон АОГВМНД-10Е</p>
        <button class="product__button" type="button" name="button"></button>
      </div>
    </div>
    <div class="col">
      <div class="marketplace__item product">
        <img class="product__img" src="assets/img/market-item-1.png" alt="Котел">
        <h5 class="product__price">8 320 грн</h5>
        <p class="product__description">Парапетний газовий котел</p>
        <p class="product__description">Атон АОГВМНД-12,5ЕВ</p>
        <button class="product__button" type="button" name="button"></button>
      </div>
    </div>
    <div class="col">
      <div class="marketplace__item product">
        <img class="product__img" src="assets/img/market-item-2.png" alt="Котел">
        <h5 class="product__price">14 620 грн</h5>
        <p class="product__description">Котел газовий двоконтурний</p>
        <p class="product__description">Protherm "Гепард" 23 MTV</p>
        <button class="product__button" type="button" name="button"></button>
      </div>
    </div>
  </div>
</section>
